
body {
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}

body > * {
    position: absolute;
}

h1 {
    font-weight: 100;
    font-size: 3.5em;
    margin:0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.25em;
}

ul > li > a {
    text-decoration: none;
}

ul > li > a:hover{
    background-color: #000;
    cursor: pointer;
}

.sketch{
    display: inline-block;
}

#tree {
    border: dashed 2px #000;
    bottom: 10%;
    right: 10%;
}

#squares {
    top:20%;
}

#img_glitch {
    right: 8%;
    top: 8%;
}

.headerName {
    top: 5%;
    left: 12%;
    width:300px;
}

.nav {
    top: 30%;
    left: 30%;
}

